h1 {
    text-align: center;
    font-family: "Raleway", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h4 {
    text-align: center;
    font-size: 40px;
    background-color:#ccffcc;

}

body {
    background-color: #ccffcc;
    margin:1px;
}

.grid-container {
    background-color: #ccffcc;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    text-align: center;
    padding: 1cm;
}

.conclusion {
    float:left;
    position:relative;
    top:-1300px;
    padding :2cm;
}

p {
    text-align: left;
    position: center;
    font-size: 25px;
}

.header {
    background-color: #ccffcc;
    width:100%;
    height:102px;
    padding: 10px;
}

.content {
    padding: 0px
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 150px;
}

button {
    cursor: pointer;
    background-color: darkseagreen;
    color: aliceblue;
    background-image: "An_Indian_call_center.jpg";
    background-size: cover;
}

image {
    width: 40px;
    height: 50px;
}

button:hover {
    background-color: aquamarine;
}

button:active {
    background-color: darkseagreen;
    box-shadow: 5px rgb(25, 25, 25);
    transform: transparent;
    background-size: cover;
}

#skylineimage {
    width:400px;
    height:300px;
    float: right;
    padding:2cm;
}

.reason2 {
    padding: 2cm;
    text-align:justify;
}

.reason1{
    padding:2cm;
}

table {
    position:relative;
    border-collapse:collapse;
    width:50%;
    float:left;
    top:-750px;
    margin-left:100px;
    margin-bottom: 500px;
}

td,th {
    border:1px solid black;
    text-align: left;
    padding:2px;
}
