h1
{
text-align: center;
font-family: "Raleway", "Helvetica Neue", Arial, Helvetica, sans-serif;
font-size: 50px;
}
h4{
text-align: center;
font-size:40px;
}
body {
 background-color:#ccffcc;
}

.grid-container{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;

}

.grid-item{
    text-align: center;
}

p{
    font-style: oblique;
    text-align: center;
    position: center;
}

button
{
    cursor:pointer;
    background-color: darkseagreen;
    color: aliceblue;
    background-image: "An_Indian_call_center.jpg";
    background-size:cover;
}

image{
    width:40px;
    height:50px;
}

button:hover {background-color:aquamarine};

button:active {
    background-color:darkseagreen;
    box-shadow: 5px rgb(25,25,25);
    transform: transparent;
    background-size:cover;
}